.aboutBody .row {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 50px;
}

.aboutBody .col-sm-6 {
    margin: auto;
}

.aboutBody p {
    line-height: 1.9;
}

.aboutBody ul li {
    line-height: 2.5;
    text-align: left;
}

.aboutBody ul li a {
    color: #558fed;
    font-size: 18px;
    text-decoration: none;
}