.eventBody .col-sm-6 {
    margin: auto;
}

.eventBody p {
    margin-left: 2%;
    margin-right: 2%;
}

.eventBody .col-sm-6 img {
    width: 70%;
}

.eventBody h1 {
    font-size: 30px;
}

.eventBody h2 {
    font-size: 25px;
}

.eventBody h3 {
    font-size: 18px;
}

.eventBody #calendar {
    margin: 5px 5%;
}

#f1_container {
    position: relative;
    margin: 10px auto;
    width: 575px;
    height: 350px;
    z-index: 1;
}

#f1_container {
    perspective: 1000;
}

#f1_card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.7s linear;
}

#f1_container:hover #f1_card {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #aaa;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    color: #000000;
    text-align: center;
    background-color: #ffffff;
  }