body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    text-align: center;
}

.alpfaNav {
    background: #c62929;
    opacity: .95;
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4),
                inset -2px -2px 2px rgba(0, 0, 0, .4);
}

.alpfaNav img {
    box-shadow: none;
    margin: 0;
}

.alpfaNav .nav-item:hover {
    background-color: #d88a8a;
    border-radius: 4px;
}

.alpfaNav .dropdown-menu {
    font-size: 15px;
    text-align: left;
    border-radius: 0px;
    border-color: #c62929;
    background-color: #c62929;
}

.alpfaNav .dropdown-menu .dropdown-item {
    color: #ffffff;
}

.alpfaNav .dropdown:hover>.dropdown-menu {
    display: block;
}

.alpfaNav .dropdown-menu .dropdown-item:hover {
    color: #558fed;
}

.alpfaFooter {
    margin-bottom: 20px;
}

.alpfaFooter a i {
    color: #c62929;
    font-size: 2em;
    margin-left: 20px;
    margin-right: 20px;
}

.alpfaFooter a i:hover {
    animation-duration: 450ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-name: wiggle;
}

@keyframes wiggle {
    0% { transform: translate(2px, 0); }
    10% { transform: translate(-2px, 0); }
    20% { transform: translate(2px, 0); }
    30% { transform: translate(-2px, 0); }
    40% { transform: translate(2px, 0); }
    50% { transform: translate(-2px, 0); }
    60% { transform: translate(2px, 0); }
    70% { transform: translate(-2px, 0); }
    80% { transform: translate(2px, 0); }
    90% { transform: translate(-2px, 0); }
    100% { transform: translate(0, 0); }
  }

.jumbotron {
    background: #f4f5f7;
    padding-top: 10px;
    padding-bottom: 20px;
    box-shadow: 0 0 20px #8d8787;
}

i {
    color: #ffffff;
}

.nav-item .nav-link {
    color: white;
    font-size: 14px;
}

.nav-item div {
    color: black;
}

h1 {
    text-align: center;
    font-size: 22px;
}

h2 {
    color: #c62929;
    font-size: 18px;
    margin-bottom: 25px;
}

h3 {
    color: #558fed;
    font-size: 15px;
}
h4 {
    font-size: 14px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 250px;
    margin-bottom: 40px;
}

a {
    text-decoration: none !important;
}

span {
    color: #000000;
}

img {
    box-shadow: 0 0 20px #8d8787;
    margin-bottom: 30px;
    transition: .5s ease;
}

.imgCaption {
    color: #558fed;
    margin-bottom: 4px;
    font-size: 10.5px;
}

.row {
    margin-bottom: 50px;
}

button {
    border-color: #558fed;
    text-decoration: none !important;
    border-radius: 8px;
    background-color: #ffffff;
    color: #558fed;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 6px;
    background-color: #558fed;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

button:hover, button:focus, button:active {
    color: #ffffff;
    cursor: pointer;
}

button:hover:before, button:focus:before, button:active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}