#banner {
    margin-bottom: 30px;
    box-shadow: 0 2px 20px #8d8787;
}

.indexBody {
    width: 100%;
}

.indexBody #nextMeet h3 {
    color: #ffffff;
    transition: .8s;
    font-size: 10px;
}

.indexBody #nextMeet:hover h3 {
    color: #558fed;
    font-size: 18px;
}

.indexBody #nextMeet img {
    border-radius: 4px;
    opacity: .7;
}

.indexBody #nextMeet img:hover {
    opacity: 1;
}

.indexBody .col-sm-6:hover .indexCaption {
    color: #558fed;
    font-size: 14px;
    transition: .6s ease;
}

.indexBody .col-sm-6:hover img {
    opacity: 0.6;
    cursor: pointer;
}

.indexBody .indexCaption {
    color: #ffffff;
    font-size: 9px;
}