.membersBody {
    font-size: 14px;
}

.membersBody .jumbotron {
    padding-top: 0;
    padding-bottom: 1px;
}

.membersBody h2 {
    font-size: 25px;
}

.membersBody .row {
    margin: 30px 30px;
}

.membersBody .col-sm-6 {
    margin: auto;
}

.membersBody p {
    font-size: 18px;
}

.membersBody .videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
    height: 0;
}

.membersBody .videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 80%;
    height: 80%;
    box-shadow: 0 0 20px #8d8787;
}

.membersBody ul {
    margin: 5%;
    text-align: left;
}

.membersBody ul li {
    list-style: none;
    font-size: 20px;
    margin-bottom: 3px;
    text-decoration: none !important;
}

.membersBody a {
    text-decoration: none !important;
}