.subscribeBody input {
    border-radius: 4px;
}

#send {
    border-color: #558fed;
    text-decoration: none !important;
    border-radius: 8px;
    background-color: #ffffff;
    color: #558fed;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

#send:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 6px;
    background-color: #558fed;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

#send:hover, #send:focus, #send:active {
    color: #ffffff;
    background-color: #558fed;
    cursor: pointer;
}

#send:hover:before, #send:focus:before, #send:active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}